<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
     <key>Label</key>
     <string>com.macmule.drivesandprinters</string>
     <key>Program</key>
     <string>/Applications/Macmule Drives And Printers.app/Contents/MacOS/applet</string>
     <key>RunAtLoad</key>
     <true/>
</dict>
</plist>
